---
import Badge from '@ui/Badge.astro';
import Card from '@ui/Card.astro';
import type { InferEntrySchema } from 'astro:content';

interface Props {
  data: InferEntrySchema<'bestiary'>;
  id: string;
}

const { data, id } = Astro.props;
---

<Card class="animate-fade-down animate-delay-300 group relative flex flex-col">
  <a href={`/bestiary/${id}`} class="absolute inset-0 z-10"></a>
  <div class="aspect-[1.4] overflow-hidden rounded-t-md">
    <img
      src={data.image.url}
      alt={data.image.alt}
      class="h-full w-full object-cover transition-transform group-hover:scale-110"
    />
  </div>
  <h3 class="mt-4 text-xl font-semibold">{data.title}</h3>
  <p class="mt-2 text-lg text-slate-200">{data.description}</p>
  <div class="mt-auto flex flex-wrap gap-4 pt-4">
    {
      data.tags.map((tag) => (
        <a class="z-20" href={`/bestiary/tag/${tag}`}>
          <Badge>{tag}</Badge>
        </a>
      ))
    }
  </div>
</Card>
