---
import type { InferEntrySchema } from 'astro:content';
import Layout from './Layout.astro';
import Badge from '@ui/Badge.astro';
import Container from '@ui/Container.astro';
import Link from '@ui/Link.astro';
import Heading2 from '@ui/Heading2.astro';
import Heading1 from '@ui/Heading1.astro';

interface Props {
  frontmatter: InferEntrySchema<'bestiary'>;
}

const { frontmatter } = Astro.props;
const { title, description, image, tags } = frontmatter;
---

<Layout>
  <Container class="pt-12">
    <div
      class="animate-fade-down animate-delay-[100ms] flex items-center gap-8"
    >
      <img
        src={image.url}
        class="pointer-events-none aspect-square w-[240px] max-w-[30vw] rounded-full object-cover"
        alt={image.alt}
      />
      <div>
        <Heading1>{title}</Heading1>
        <Heading2>{description}</Heading2>
      </div>
    </div>

    <div
      class="prose prose-invert prose-slate animate-fade-down animate-delay-[400ms] mt-8 w-full"
    >
      <slot />
    </div>

    <div
      class="animate-fade-down animate-delay-[100ms] mt-8 flex flex-wrap gap-4"
    >
      {
        tags.map((tag) => (
          <a href={`/bestiary/tag/${tag}`}>
            <Badge>{tag}</Badge>
          </a>
        ))
      }
    </div>

    <div class="animate-fade-down animate-delay-[100ms] flex justify-center">
      <Link
        href="/bestiary"
        icon="arrow-left-line"
        variant="secondary"
        class="mt-8 flex-row-reverse"
        text="Назад в бестиарий"
      />
    </div>
  </Container>
</Layout>
